body {
  width: 100vw;
  height: 100vh;
  background-color: #002F6C;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.routine-list {
  text-align: center;
}

.routine-list h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

#routine-items {
  list-style: none;
  padding: 0;
}

#new-routine-btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 28px;
  height: 28px;
  background-color: #72CC96;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #002F6C;
  border: 1px solid #002F6C;
  font-size: 15px;
}

.routine-item {
  border: 1px solid #ccc;
  background-color: #72CC96;
  color: #002F6C;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.routine-item div {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routine-durat {
  margin-right: 45px;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #72CC96;
  color: #002F6C;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.modal {
  background-color: #72CC96;
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  animation: modalAppear 0.4s ease-out;
}

.modal-content {
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
}

#new-routine-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organitazion {
  display: flex;
  align-items: center;
}

.input-register {
  height: 28px;
  background-color: #a9ebc3;
  border: none;
  border-radius: 15px;
  padding-left: 10px;
  color: #002F6C;
  font-weight: bold;
  margin: 9px;
}

#description {
  width: 200px;
  height: 45px;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

#duration {
  width: 60px;
}

.add-routine {
  width: 50%;
  height: 28px;
  background-color: #002F6C;
  color: #ffffff;
  border: none;
  border-radius: 15px;
}

.close {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  background-color: #72CC96;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #002F6C;
  border: 1px solid #002F6C;
  font-size: 15px;
}
